.DS_Store
phpcs.xml
phpunit.xml
Thumbs.db
wp-cli.local.yml
node_modules/
*.sql
*.tar.gz
*.zip
*.min.css
*.min.js
*.babel.*
*.zip.*


/vendor/
build/
release/
dist/
.env
.parcel-cache
.cache
i18n/languages/hrt.pot
i18n/languages/*.json
i18n/languages/*.mo
i18n/languages/*.po
i18n/languages/*.po~
.vscode/launch.json
yarn-error.log
